<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rinko.myepidroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeView"
            android:label="HomeView" >
        </activity>
        <activity
            android:name=".TrombiView"
            android:label="TrombiView" >
        </activity>
        <activity
            android:name=".PlanningView"
            android:label="PlanningView" >
        </activity>
        <activity
            android:name=".PlanningInscriptionView"
            android:label="PlanningInscriptionView" >
        </activity>
        <activity
            android:name=".ModulesView"
            android:label="ModulesView" >
        </activity>
        <activity
            android:name=".ModulesInscriptionView"
            android:label="@string/title_activity_modules_inscription_view" >
        </activity>
        <activity
            android:name=".ProjectsView"
            android:label="ProjectsView" >
        </activity>
        <activity
            android:name=".ProjectsInscriptionView"
            android:label="@string/title_activity_projects_inscription_view" >
        </activity>
        <activity
            android:name=".MessagesView"
            android:label="@string/title_activity_messages_view" >
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>